@using System.Globalization
@model ZakCmsFE.Models.FeedAndContentViewModel
@{
	Layout = "";
}			 
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
	<channel>
		<title>@Model.Feed.Title</title>
		<description>@Model.Feed.Title</description>
		<link>http://localhost:50856/ZakCmsFE/@Model.Feed.Language.Code/Feeds/Details/@(string.IsNullOrEmpty(Model.Feed.SeoTitle) ? Model.Feed.Id.ToString(CultureInfo.InvariantCulture) : Model.Feed.SeoTitle)</link>
		<lastBuildDate>@Model.LastBuildDate.ToString("r")</lastBuildDate>
		<pubDate>@Model.Feed.CreateTime.ToString("r")</pubDate>
		<ttl>1800</ttl>
		@foreach (var item in Model.FeedContent)
		{
			<item>
				<title>@item.Title</title>
				<description>@item.Content</description>
				<link>http://localhost:50856/ZakCmsFE/@Model.Feed.Language.Code/@(string.IsNullOrEmpty(item.SeoTitle) ? item.SourceId.ToString(CultureInfo.InvariantCulture) : item.SeoTitle)</link>
				<guid>@item.Id</guid>
				<pubDate>@item.UpdateTime.ToString("r")</pubDate>
			</item>
		}
	</channel>
</rss>