@model ZakCms.Models.Entitites.ArticleModel
@if (Model.Id > 0)
{
	<fieldset class="bodyWidth">
		<legend>Actions</legend>
		@Html.ActionLink("Edit", "Index", new {id = Model.Id, view = "Edit"}) |
		@Html.ActionLink("Delete", "Delete", new {id = Model.Id})|
		@Html.ActionLink("Add Child", "Index", new {id = Model.Id, view = "AddChild"})|
		@Html.ActionLink("Move Up", "MoveUp", new {id = Model.Id}) |
		@Html.ActionLink("Move Down", "MoveDown", new {id = Model.Id})
		<!--<p>
					Html.ActionLink("Show on site", "Index", "Home", new { id = Model.Id }, null)
				</p>-->
	</fieldset>
	<fieldset class="bodyWidth">
		<legend>@Model.Title</legend>
		<div class="display-label">
			Seo Title</div>
		<div class="display-field">
			@(new HtmlString(Model.SeoTitle))
		</div>
		<div class="display-label">
			Content</div>
		<div class="display-field">
			@(new HtmlString(Model.Content))
		</div>
		<div class="display-label">
			Language</div>
		<div class="display-field">
			@Html.DisplayFor(model => model.Language.Description)
		</div>
		<div class="display-label">
			ParentId</div>
		<div class="display-field">
			@Html.DisplayFor(model => model.ParentId)
		</div>
		<div class="display-label">
			IsAuthenticated</div>
		<div class="display-field">
			@Html.DisplayFor(model => model.IsAuthenticated)
		</div>
		<div class="display-label">
			UpdateTime</div>
		<div class="display-field">
			@Html.DisplayFor(model => model.UpdateTime)
		</div>
	</fieldset>
}