@model ZakCms.Models.Entitites.ArticleModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
	//<!--
	function Articles_Edit() {
		var formd = document.getElementById('adminArticlesGenerateSeoTitle');
		var forms = document.getElementById('adminArticlesEdit');
		formd["generateSeoTitleOriginal"].value = forms["Title"].value;
		formd.submit();
		return false;
	}
//-->
</script>
@using (Html.BeginForm("Edit", "Articles", FormMethod.Post, new {name = "adminArticlesEdit", id = "adminArticlesEdit"}))
{
	@Html.ValidationSummary(true)
	<fieldset class="bodyWidth">
		<legend>Edit</legend>
		<p>
			<input type="submit" value="Save" />
			<input type="button" value="Generate Seo Title" onclick="javascript:Articles_Edit();"/>
		</p>
		@Html.HiddenFor(model => model.Id)
		<div class="editor-label">
			@Html.LabelFor(model => model.Title)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Title)
			@Html.ValidationMessageFor(model => model.Title)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.SeoTitle)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.SeoTitle)
			@Html.ValidationMessageFor(model => model.SeoTitle)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.IsAuthenticated)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.IsAuthenticated)
			@Html.ValidationMessageFor(model => model.IsAuthenticated)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Content)
		</div>
		<div class="editor-field">
			<textarea rows="2" cols="30" id="Content" name="Content">@Model.Content</textarea>
			@Html.ValidationMessageFor(model => model.Content)
		</div>
		<!--div class="editor-label">
			@Html.LabelFor(model => model.ParentId)
		</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.ParentId)
				@Html.ValidationMessageFor(model => model.ParentId)
			</div-->
		<div class="display-label">
			UpdateTime</div>
		<div class="display-field">
			@Html.DisplayFor(model => model.UpdateTime)
		</div>
		<div class="display-label">
			ParentId</div>
		<div class="display-field">
			@Html.HiddenFor(model => model.ParentId)
			@Html.DisplayFor(model => model.ParentId)
		</div>
		@Html.HiddenFor(model => model.Language.Id)
		@Html.HiddenFor(model => model.Company.Id)
	</fieldset>
}
@using (Html.BeginForm("GenerateSeoTitle", "Articles", FormMethod.Post, new {name = "adminArticlesGenerateSeoTitle", id = "adminArticlesGenerateSeoTitle"}))
{
	<input id="generateSeoTitleOriginal" name="generateSeoTitleOriginal" type="hidden" value="" />
	@Html.HiddenFor(model => model.Id)
}