@model ZakCms.Models.PageArticleAdminViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>
	Articles Administration</h3>
<table>
	<tr>
		<td>
			@Html.LabelFor(c => c.Article.Language.Id)
			@using (Html.BeginForm("ChooseLanguage", "Articles", FormMethod.Post))
			{
				@Html.DropDownListFor(c => c.Article.Language.Id,
															new SelectList(Model.Languages,
																						 "Id",
																						 "Description",
																						 Model.Article.Language.Id),
															null,
															new {onchange = "this.form.submit();"})
			}
		</td>
		<td>
			@Html.LabelFor(c => c.Article.Company.Id)
			@using (Html.BeginForm("ChooseCompany", "Articles", FormMethod.Post))
			{
				@Html.DropDownListFor(c => c.Article.Company.Id,
															new SelectList(Model.Companies,
																						 "Id",
																						 "Description",
																						 Model.Article.Company.Id),
															null,
															new {onchange = "this.form.submit();"})
			}
		</td>
	</tr>
	<tr>
		<td>
			<p>
				@Html.ActionLink("Add Root Node", "Index", new {id = 0, view = "AddChild"})
			</p>
			<div class="menuWidth">
				@{ Html.RenderPartial("TreeNode", Model.Articles); }
			</div>
		</td>
		<td>
			@{
				if (Model.Article.Id != 0 && Model.View != "Edit")
				{
					Html.RenderPartial("TagsList", Model.Tags);
				}
			}
			@{
				if (Model.Article.Id != 0 && Model.View == "Edit")
				{
					Html.RenderPartial("EditTags", Model);
				}
			}
			@{
				if (Model.Article.Id != 0 || Model.View == "AddChild")
				{
					Html.RenderPartial(Model.View, Model.Article);
				}
				else
				{
					<text>Select a node or add a root node.</text>
				}
			}
		</td>
	</tr>
</table>